{:paths ["src/apps"
         "src/main"
         "src/test"]
 :deps
 {module/core      {:local/root "module-core"}
  module/core-dev  {:local/root "module-core-dev"}
  module/core-auth {:local/root "module-core-auth"}
  module/core-auth-server {:local/root "module-core-auth-server"}
  ;; --- Java JSON dependency (uncomment ONLY one) ---
  module/json-charred   {:local/root "module-core-json-charred"}
  ;module/json-cheshire  {:local/root "module-core-json-cheshire"}
  ;module/json-data-json {:local/root "module-core-json-datajson"}
  ;module/json-jsonista  {:local/root "module-core-json-jsonista"}
  ;; --- runtime/dev dependencies for module-core ---
  ;; Clojure
  org.clojure/clojure {:mvn/version "1.12.4"}
  ;; ClojureScript
  thheller/shadow-cljs {:mvn/version "3.2.1"}  ; adds CLJS 1.12.42
  ;; --- Debugging ---
  io.github.tonsky/clojure-plus {:mvn/version "1.7.0"}
  pjstadig/humane-test-output {:mvn/version "0.11.0"}
  ;;
  }
 :aliases
 {;; ------------------
  ;; Start nREPL server: clj -M:cider-nrepl
  ;; ------------------
  :cider-nrepl
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.58.0"},
                djblue/portal {:mvn/version "0.62.0"},
                mx.cider/tools.deps.enrich-classpath {:mvn/version "1.19.3"},
                nrepl/nrepl {:mvn/version "1.5.0"},
                refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}
  ;;***********
  ;;
  ;;  Testing
  ;;
  ;;***********
  ;; -------------
  ;; Run CLJ tests: clj -M:clj-test
  ;; -------------
  :clj-test
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/sha "dfb30dd"
                                                      :git/tag "v0.5.1"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :jvm-opts  ["-XX:-OmitStackTraceInFastThrow" "-Xms512m" "-Xmx512m"
               "-Dclojure.main.report=stderr"]
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test"
               ;"-r" "plumcp.core.test.entity-gen-test"  ; regex
               ;"-n" "plumcp.core.test.entity-gen-test"  ; namespace
               ;"plumcp.core.test.entity-gen-test"       ; namespace
               #_"--help"]}
  ;; --------------
  ;; Run CLJS tests: clj -M:cljs-test
  ;; --------------
  :cljs-test
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.1"}}
   :jvm-opts  ["-XX:-OmitStackTraceInFastThrow" "-Xms512m" "-Xmx512m"
               "-Dclojure.main.report=stderr"]
   :main-opts ["-m" "cljs-test-runner.main"
               "-d" "src/test"
               ;"-r" "plumcp.core.test.entity-gen-test"  ; regex
               ;"-n" "plumcp.core.test.entity-gen-test"  ; namespace
               ;"plumcp.core.test.entity-gen-test"       ; namespace
               #_"--help"]}
  ;;
  ;;**********************
  ;;
  ;;  Running MCP server
  ;;
  ;;**********************
  ;; -----------------------
  ;; Run Dev MCP HTTP server: clj -M:run-dev-http
  ;; -----------------------
  :run-dev-http-server
  {:jvm-opts  ["-XX:-OmitStackTraceInFastThrow" "-Xms512m" "-Xmx512m"
               "-Dclojure.main.report=stderr"]
   :main-opts ["-m" "plumcp.core.main.main-http-server"]}
  ;; ------------------------
  ;; Run Dev MCP STDIO server: clj -M:run-dev-stdio
  ;; ------------------------
  :run-dev-stdio-server
  {:jvm-opts  ["-XX:-OmitStackTraceInFastThrow" "-Xms512m" "-Xmx512m"
               "-Dclojure.main.report=stderr"]
   :main-opts ["-m" "plumcp.core.main.main-stdio-server"]}
  ;;**********************
  ;;
  ;;  Running MCP Client
  ;;
  ;;**********************
  ;; ---------------------------------------
  ;; Run Dev MCP Client with Streamable HTTP transport
  ;; ---------------------------------------
  :run-dev-http-client
  {:jvm-opts  ["-XX:-OmitStackTraceInFastThrow" "-Xms512m" "-Xmx512m"
               "-Dclojure.main.report=stderr"]
   :main-opts ["-m" "plumcp.core.main.main-client"
               "http://localhost:3000/mcp"]}
  ;; -----------------------------
  ;; Run Dev MCP Client with STDIO transport
  ;; -----------------------------
  :run-dev-stdio-client
  {:jvm-opts  ["-XX:-OmitStackTraceInFastThrow" "-Xms512m" "-Xmx512m"
               "-Dclojure.main.report=stderr"]
   :main-opts ["-m" "plumcp.core.main.main-client"
               "make" "run-server-stdio-java"]}
  ;;
  }}
